includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    bootstrapFiles:
        - .phpstan/classAliases.php

    level: 9

    editorUrl: 'file://%%file%%:%%line%%'

    editorUrlTitle: 'file://%%file%%:%%line%%'

    paths:
        - src/
        - tests/

    ignoreErrors:
        - identifier: missingType.iterableValue
