parameters:

    bootstrapFiles:
        - .phpstan/classAliases.php

    level: 9

    checkMissingIterableValueType: false

    editorUrl: 'file://%%file%%:%%line%%'

    editorUrlTitle: 'file://%%file%%:%%line%%'

    paths:
        - src/
        - tests/
